In [ ]:
#Importando a biblioteca
import pandas as pd

In [ ]:
#Leitura dos arquivos
df1 = pd.read_excel('Aracaju.xlsx')
df2 = pd.read_excel('Fortaleza.xlsx')
df3 = pd.read_excel('Natal.xlsx')
df4 = pd.read_excel('Recife.xlsx')
df5 = pd.read_excel('Salvador.xlsx')

In [ ]:
#Juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [ ]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  444.00    1000     4
1  Aracaju 2018-01-02   14.21    1001     3
2  Aracaju 2018-01-03   56.00    1002     5
3  Aracaju 2018-01-01   35.00    1003     7
4  Aracaju 2018-01-01   29.00    1004     1

In [ ]:
#Exibindo as 5 últimas linhas
df.tail()

      Cidade       Data  Vendas  LojaID  Qtde
9   Salvador 2018-01-03    51.0    5009     6
10  Salvador 2018-01-03    89.0    5010     1
11  Salvador 2018-01-01    97.0    5011    39
12  Salvador 2018-01-01    51.0    5012     8
13  Salvador 2018-01-01    21.0    5013    41

In [ ]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [ ]:
#Alterando o tipo de dado da coluna LojaID
df['LojaID'] = df['LojaID'].astype('object')

In [ ]:
df.types

In [ ]:
df.head()

**Tratando valores faltantes**

In [ ]:
#Consultando linhas com valores faltantes
df.isnull().sum()

In [ ]:
#Substituindo os valores nulos pela média
df['Vendas'].fillna(df['Vendas'].mean(), inplace=True)

In [ ]:
df.isnull().sum()

In [ ]:
#Substituindo os valores nulos pela média
df['Vendas'].fillna(0, inplace=True)

In [ ]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [ ]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=['Vendas'], inplace=True)

In [ ]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how'all', inplace=True)

**Criando colunas novas**

In [ ]:
#Criando a coluna de receita
df['Receita'] = df['Vendas'].mul(df['Qtde'])

In [ ]:
df.head()

In [ ]:
df['Receita/Vendas'] = df['Receita'] / df['Vendas']

In [ ]:
df.head()

In [ ]:
#Retornando a maior receita
df['Receita'].max()

In [ ]:
#Retornando a menor receita
df['Receita'].min()

In [ ]:
#nlargest
df.nlargest(3, 'Receita')

In [ ]:
#nsamllest
df.nsamllest(3, 'Receita')

In [ ]:
df.groupby('Cidade')['Receita'].sum()

In [ ]:
#Ordenando o conjunto de dados
df.sort_values('Receita', ascending=False).head(10)

# Trabalhando com datas

In [ ]:
#transformando a coluna de data em tipo inteiro
df['Data'] = df['Data'].astype('int64')

In [ ]:
#Verificando o tipo de dado de cada coluna
df.dtypes

In [ ]:
#Transformando coluna de data em data
df['Data'] = pd.to_datetime(df['Data'])

In [ ]:
df.dtypes

In [ ]:
#Agrupamento por ano
df.groupby(df['Data'].dt.year)['Receita'].sum()

In [ ]:
#Criando uma nova coluna com o ano
df['Ano_Venda'] = df['Data'].dt.year

In [ ]:
#Extraindo o mês e o dia
df['mes_venda'], df['dia_venda'] = (df['Data'].dt.month, df['Data'].dt.day)

In [ ]:
#Retornando a data mais antiga
df['Data'].min()

In [ ]:
#Calculando a diferença de dias
df['diferenca_dias'] = df['Data'] - df['Data'].min()

In [ ]:
#Criando a coluna de trimestre
df['trimestre_venda'] = df['Data'].dt.quarter

In [ ]:
df.sample(5)

In [ ]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df['Data'].dt.year == 2019) & (df['Data'].dt.month == 3)]

In [ ]:
vendas_marco_19

# Visualização de dados

In [ ]:
df['LojaID'].value_counts(ascending=False)

In [ ]:
#Gráfico de barras
df['LojaID'].value_counts(ascending=False).plot.bar()

In [ ]:
#Gráfico de barras horizontais
df['LojaID'].value_counts(ascending=False).plot.barh()

In [ ]:
#Gráfico de barras horizontais
df['LojaID'].value_counts(ascending=True).plot.barh();

In [ ]:
#Gráfico de Pizza
df.groupby(df['Data'].dt.year)['Receita'].sum.plot.pie()

In [ ]:
#Total vendas por cidade
df['Cidade'].value_counts()

In [ ]:
#Adicionando um título e alterando o nome dos eixos
import matplotlib.pyplot as plt
df['Cidade'].value_counts().plot.bar(title='Total vendas por cidade', color='red')
plt.xlabel('Cidade')
plt.ylabel('Total Vendas');

In [ ]:
#Alterando o estilo
plt.style.use('ggplot')

In [ ]:
df.groupby(df['mes_venda'])['Qtde'].sum().plot((title = 'Total Produtos vendidos x mês'))
plt.xlabel('Mês')
plt.ylabel('Total Produtos vendidos')
plt.legend()

In [ ]:
df.groupby(df['mes_venda'])['Qtde'].sum()

In [ ]:
#Selecionando apenas as vendas de 2019
df_2019 = df[df['Ano_venda'] == 2019]

In [ ]:
#Total produtos vendidos por mês
df_2019.groupby(df_2019['mes_venda'])['Qtde'].sum().plot(marker - 'o')
plt.xlabel('Mês')
plt.ylabel('Total Produtos vendidos')
plt.legend()

In [ ]:
#Histograma
plt.hist(df['Qtde'], color='magenta')

In [ ]:
plt.scatter(x=df_2019['dia_venda'], y = df_2019['Receita']);

In [ ]:
#Salvando em png
df_2019.groupby(df_2019['mes_venda'])['Qtde'].sum().plot(marker = 'v')
plt.title('Quantidade de produtos vendidos x mês')
plt.xlabel('Mês')
plt.ylabel('Total Produtos Vendidos');
plt.legend()
plt.savefig('grafico QTDE  X MES.png')